*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 14px;
    --naranja: #F3AD41;
    --verde: #378575;
    --negro: #122939;
    --azul: #0BC0DF;
}
body{
    font-family: "Montserrat", sans-serif;
}
button{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.descripcion{
    background-color: var(--azul);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descripcion h1{
    font-size: 2.5rem;
}
.descripcion h2{
    width: 500px;
    font-size: 2rem;
    font-weight: 500;
}
.apertura, .cierre{
    display: none;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 150px;
    height: 150px;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
}
header nav ul li{
    display: flex;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 400;
}
header nav ul li img{
    width: 50px;
    height: 50px;
}
header nav ul li i{
    font-size: 30px;
    margin-right: 10px;
}
.seleccionado{
    text-decoration: underline 3px solid var(--azul);
    text-decoration-skip-ink: none; 
    /*propiedad para que no se superponga el subrayado con la opción "quiénes somos"*/
}
.comprarEdiciones{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.infoCompra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.infoCompra h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.infoCompra .carrito{
    font-size: 2.5rem;
}
.periodicos{
    display: grid;
    grid-template-columns: repeat(4,auto);
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    width: 134%;
}
.periodicos section{
    text-align: center;
    border: 2px solid var(--verde);
    border-radius: 10px;
    padding: 15px;
    margin-right: 10%;
}
.periodicos img{
    width: 100%;
}
.anterior, .siguiente{
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    font-size: 3rem;
}
.anterior{
    left: 10px;
}
.siguiente{
    right: 10px;
}
.periodicos section button{
    font-size: 1.3rem;
    background-color: var(--naranja);
    padding: 10px;
    font-weight: 600;
}
.periodicos section button i{
    margin-left: 15px;
}
@media screen and (max-width:900px){
    header{
        margin-bottom: 15px;
    }
    .descripcion h2{
        display: none;
    }
    .apertura, .cierre{
        display: block;
        font-size: 3rem;
    }
    .cierre{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    header nav{
        position: fixed;
        top: 0;
        left: -100vw;
        padding: 20px;
        background-color: var(--negro);
        width:calc(50% - 40px);
        height: calc(100vh - 40px);
        background-color: var(--naranja);
        transition: left 1s;
        z-index: 1;
    }
    .desplegado{
        left: 0;
    }
    header nav ul{
        flex-direction: column;
    }
    header nav ul li a{
        font-size: 1.3rem;
    }
    header nav ul li:nth-child(5){
        margin-bottom: 35px;
    }
    nav ul li:not(:last-child){
        margin-bottom: 25px;
    }
    header nav ul li i{
        margin-right: 20px;
    }
    header nav ul li:nth-child(5), header nav ul li:nth-child(6){
        margin-left: 5px;
    }
}
@media screen and (max-width: 800px){
    .infoCompra{
        display: block;
    }
}