*{
    margin: 0;
    padding: 0;
}

/*reglas generales*/

:root{
    font-size: 14px;
    --naranja: #F3AD41;
    --verde: #378575;
    --negro: #122939;
    --azul: #0BC0DF;
}
body{
    font-family: "Montserrat", sans-serif;
}
button{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
}

/*header*/

.descripcion{
    background-color: var(--azul);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descripcion h1{
    font-size: 2.5rem;
}
.descripcion h2{
    width: 500px;
    font-size: 2rem;
    font-weight: 500;
}
.apertura, .cierre{
    display: none;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo img{
    width: 150px;
    height: 150px;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
}
header nav ul li{
    display: flex;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    color: var(--negro);
    font-size: 1.1rem;
    font-weight: 400;
}
header nav ul li a:hover{
    text-decoration: underline 3px solid var(--azul);
    text-decoration-skip-ink: none; /*propiedad para que no se superponga el subrayado con la opción "quiénes somos"*/
}
header nav ul li img{
    width: 50px;
    height: 50px;
}
header nav ul li i{
    font-size: 30px;
    margin-right: 10px;
}
.seleccionado{/*clase para que se active al hacer click en cada uno de los enlaces del nav*/
    text-decoration: underline 3px solid var(--azul);
    text-decoration-skip-ink: none; /*propiedad para que no se superponga el subrayado con la opción "quiénes somos"*/
}

/*Slider noticias y próximos partidos*/

.contenedorPrincipal{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    height: 500px;
}
 /*Slider noticias*/

.contenedorNoticias{
    width: 65%;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.contenedorNoticias .noticias{
    display: flex;
    width: 300%;/*para que cada imagen ocupe el 100% del ancho*/
    height: 100%;
}
.contenedorNoticias .noticias section{
    position: relative;
    width: 100%;
}
.contenedorNoticias .noticias section img{
    width: 100%;
    height: 100%;
}
.contenedorNoticias .noticias section p{
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 1.3rem;
    font-weight: 600;
    background-image: linear-gradient(to right, #87CEEB, #FFFFFF);
    padding: 15px;
    width: 200px;
    border-radius: 5px;
}
.contenedorNoticias button{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 40%;
    border-radius: 50%;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}
.contenedorNoticias button:hover{
    background-color: var(--naranja);
    color: var(--negro);
}
.anterior{
    left: 10px;
}
.siguiente{
    right: 10px;
}

/*Próximos partidos*/

.partidos{
    width: 25%;
}
.partidos section img{
    width: 50px;
    height: 50px;
}
.partidos h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}
.partidos section{
    margin-bottom: 20px;
}
.partidos section p{
    text-align: center;
    font-size: 1.2rem;
}
.partidos section .info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.partidos section i{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/*Noticias finales de los equipos*/

.conjuntoNoticias{
    padding: 10px;
}
.infoEquipo{
    display: flex;
    align-items: center;
    margin: 5px 0 5px 15px;
}
.infoEquipo img{
    width: 75px;
    height: 75px;
}
.infoEquipo h3{
    font-size: 1.8rem;
}
.noticiasEquipo{
    margin: 0 auto;
    width: calc(100% - 50px);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
}
.noticiasEquipo section{
    position: relative;
}
.noticiasEquipo section p{
    position: absolute;
    top: 15px;
    left: 25px;
    padding: 15px;
    background-color: var(--azul);
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 15px;
}
.noticiasEquipo section h3{
    font-weight: 600;
    font-size: 1.1rem;
    margin: 5px 0 5px 0;
}
.noticiasEquipo section h4{
    font-weight: 400;
}
.noticiasEquipo section img{
    width: 100%;
    height: 300px;
}
@media screen and (max-width:900px){
    .descripcion h2{
        display: none;
    }
    .apertura, .cierre{
        /*hacer visibles los botones del menú*/
        display: block;
        font-size: 2.5rem;
    }
    .cierre{
        position: absolute;
        top: 20px;
        right: 15px;
    }
    header{
        margin-bottom: 20px;
    }
    header nav{
        position: fixed;
        top: 0;
        left: -100vw;
        padding: 20px;
        width:calc(50% - 40px);
        height: calc(100vh - 40px);
        background-color: var(--naranja);
        transition: left 1s; /*hacer el efecto desde fuera hacia dentro*/
        z-index: 1; /*para que se ponga por encima*/
    }
    .desplegado{
        left: 0;
    }
    header nav ul{
        flex-direction: column;
    }
    header nav ul li a{
        font-size: 1.3rem;
    }
    header nav ul li:nth-child(5){
        margin-bottom: 35px;
    }
    nav ul li:not(:last-child){
        margin-bottom: 25px;
    }
    header nav ul li i{
        margin-right: 20px;
    }
    header nav ul li:nth-child(5), header nav ul li:nth-child(6){
        margin-left: 5px;
    }
    .contenedorPrincipal{
        flex-direction: column-reverse; /*para hacer que se vea primeramente los próximos partidos y después la slider*/
    }
    .contenedorPrincipal .contenedorNoticias{
        /*hacer que el contenedor de la slider ocupe el 100%*/
        width: 100%;
        height: 100%
    }
    .partidos{
        /*hacer que los próximos partidos ocupen todo el ancho con los cuatro partidos uno al lado del otro*/
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,auto);
        justify-content: space-between;
    }
    .partidos section p:last-child{
        display: none;
    }
    .partidos h3{
        display: none;
    }
    .noticiasEquipo{
        /*hacer que las noticias finales tengan dos columnas*/
        grid-template-columns: repeat(2,auto);
    }
}
@media screen and (max-width:800px){
    .contenedorNoticias button{
        /*quitar el hover del boton de la slider*/
        background-color: var(--naranja);
        color: var(--negro);
    }
}
@media screen and (max-width:600px){
    .partidos{
        /*hacer que los próximos partidos se vean en dos columnas*/
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }
    .noticiasEquipo{
        /*hacer que las noticias finales solamente tengan una columna*/
        grid-template-columns: repeat(1,auto);
    }
}
@media screen and (max-width:500px){
    header nav{
        /*hacer el menú más grande en dispositivos móviles para que no quede tan pegado*/
        width: calc(60% - 40px);
    }
    .contenedorNoticias button{
        /*hacer los botones más pequeños y echarlos más para arriba para que no estén tan pegados a la información*/
        top: 35%;
        width: 50px;
        height: 50px;
        font-size: 2.5rem;
    }
}